body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
  padding: 20px;
}

.search-bar {
  margin: 20px 0;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-content {
  padding: 20px;
}

.weather-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.weather-detail {
  margin: 5px 0;
}

.MuiTypography-root {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
  .weather-title {
      font-size: 1.2rem;
  }
}
